* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5ebdd;
}
.nav-top-container {
  background-color: #b89c65;
  height: 100%;
}
.nav-bottom-container {
  background-color: #d2c5b3;
}
.navbar-brand p {
  font-size: 10px;
}
.logo span {
  color: #b89c65;
  font-weight: bold;
}
.search-box input {
  transition: width 0.3s ease, opacity 0.3s ease;
}

#home-hero {
  height: 70vh;
  background: url(./images/home-hero.jpg) center/cover no-repeat;
  color: white;
}
#home-hero h1 {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius: 8px;
}

.home-programs,
.home-choose,
.home-about,
.home-subscription {
  min-height: 60vh;
  height: auto;
}
input {
  border-radius: 12px;
  border: 1px solid grey;
  padding: 12px 10px;
}
.btn {
  background-color: #b89c65;
  color: white;
  border: none;
}
.food-carousel {
  display: flex;
  gap: 20px;
  animation: slideX 20s linear infinite alternate;
}

.food-img {
  width: 550px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}

/* Animation */
@keyframes slideX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.home-works i {
  font-size: 50px;
  color: #b89c65;
}
.home-works p {
  font-size: 18px;
  font-weight: 600;
}
#home-reviews {
  height: 40vh;
  background: url(./images/home-review.jpg) center/cover no-repeat;
  color: white;
  background-color: #f5ebdd;
}
#home-reviews h1 {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.user-reviews {
  width: 100%;
  height: 50vh;
  background-color: #b89c65;
  color: white;
}

.home-map {
  height: 50vh;
  background-color: #f5ebdd;
}
.map-container {
  width: 45%;
  height: 100%;
  background: url(./images/map.png) center/cover no-repeat;
}
/*Reservation Page*/
#reservation-hero {
  height: 70vh;
  background: url(./images/reservation-hero.jpg) center/cover no-repeat;
  color: white;
}
.res-book {
  height: 400px;
}
.res-book img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.res-form {
  width: 50%;
  background-color: white;
  padding: 20px 40px;
}
.res-content {
  color: #b89c65;
}
/* Blog Page */
.blog-img {
  margin-bottom: 50px;
}
.pay-title {
  height: 100px;
  background-color: #b89c65;
  color: white;
  text-align: center;
}
.wish-food {
  width: 60%;
  justify-content: start;
}

.menucard {
  width: 100vw;
}
.menucard div {
  border: 2px solid grey;
}
.over-view {
  border-bottom: 6px solid #b89c65;
}

.blog h4,
.blog h5 {
  margin: 30px 0;
}
.blog-cont {
  margin-bottom: 40px;
}
.contact-hero {
  width: 100vw;
  height: 70vh;
  background: url(./images/contact1.jpg) center/cover no-repeat;
}
.contact-info {
  justify-content: flex-start;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.wish {
  margin: 50px 0;
}
.wish-list,
.wish-btn {
  background-color: #ff3b30;
  color: white;
}
.header-icons {
  color: black;
}

.profile-cont {
  margin-left: 15px;
}
.account input {
  width: 600px;
  padding: 20px 10px;
}
.profile input,
.info {
  background-color: #ff3b30;
  margin-bottom: 30px;
}
#logout {
  margin: 50px 0;
}
/* Mobile behavior */
@media (max-width: 576px) {
  .search-box input {
    width: 0;
    opacity: 0;
    padding: 0;
    border: none;
    pointer-events: none;
  }

  .search-box input.active {
    width: 60vw; /* 60% of viewport width */
    opacity: 1;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    pointer-events: auto;
  }
}
